.container{
	margin-bottom: 80px;
}


#tabs{
	bottom: 0;
	position: fixed;
	width: 100%;
	background-color: #042A2B;
	z-index: 2;
	margin-top: 100px;
}

#ajuste{
	margin-bottom: 0px;
}

.full-width{
	width: 100%;
}

.formatado{
	margin-top: 5px;
	margin-left: 5px;
}

.relativo{
	position: relative;
	height: 70px;
}

.absoluto{
	position: absolute;
	top: -10px;
}

.fixed-action-btn{
	right: 0px;
}

.item:not(:first-child){
	border-top: 1px solid rgba(160, 160, 160, 0.2);
	padding-top: 20px;
}

.fixed-action-btn{
	z-index: 1;
}

.modal .btn{
	background-color: #6F6B6B;
	color: inherit;
}

.inputError{
	width: 100%;
	text-align: right;
	margin-top: 0px;
	color: #f44336 !important;
}

#cadastroForm input{
	margin: 0;
}

.mediaPreview{
	display: none;
}